<!DOCTYPE html>
<html>
    <head>
        <style>
            @font-face { font-family: 'Godo'; font-style: normal; font-weight: 400; src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff'); } @font-face { font-family: 'Godo'; font-style: normal; font-weight: 700; src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff'); } .godo * { font-family: 'Godo', sans-serif; }
            .container {font-family: Godo;}
        </style>
    </head>

    <body>
        {% extends 'base.html' %}

        {% block content %}
        <br>
        <div class="container">
            <a href="{% url 'show' %}">뒤로</a>
            <a href="{% url 'edit' pk=board.pk %}">수정</a>
            <h2>제목: {{board.title}}</h2> 
            <p>내용: {{board.body}}</p>
            <P>등록일: {{board.update_date|date:"Y년 m월 d일 P"}}</P>
            <a href="{% url 'delete' pk=board.pk %}">삭제</a>

        </div>

        <br><br>
        <!--댓글쓰기 폼-->
        <div class="container">
        <h5>댓글</h5>
        <div class="card-body"></div>
            <form method="POST" action="comment/write/">
            {% csrf_token %}
            <textarea rows="3" cols="80" name="content">
    
            </textarea>
            <br><br>
        
            <button type="submit" class="btn btn-dark">등록</button>
    
            </form>
        </div>
    </div>
     
    <br>
    
    <!--댓글 목록을 출력할 영역-->
    {% for comment in board.comments.all %}
    <div class="container">
    <div class="comment_body">
            <h5>{{comment.content}}</h5>
            <small>{{comment.created_at|date:"Y년 m월 d일 P"}}</small>
           
            <a href="{% url 'comment_edit' board.pk comment.pk %}">수정</a>
            
    
    </div>
    </div>
    
    {% endfor %}
    <br>
    <br>
    {% endblock %}
        
    </body>
</html>