<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        
        <style type="text/css">
            @font-face { font-family: 'Godo'; font-style: normal; font-weight: 400; src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff'); } @font-face { font-family: 'Godo'; font-style: normal; font-weight: 700; src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff'); } .godo * { font-family: 'Godo', sans-serif; }
            .container { font-family: Godo;}
            .new {padding-top:20px; padding-left:10px; font-size:20px;}
            .text {padding:10px; font-size:15px;}
        
        </style>
    </head>

    <body>
        {% extends 'base.html' %}
        {% load staticfiles %}
        {% block content %}

        
        <div class="container">
            <div class="new">
                <a href="{% url 'post' %}">새로운 글 작성하기</a>
            </div>
            <div class="text">   
                {% for board in boards.all %}
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'detail' board.id %}"><h4 class="card-title">{{board.title}}</h4></a>
                      <h6 class="card-subtitle mb-2 text-muted">{{board.pub_date}}</h6>
                      <p class="card-text">{{board.summary}}</p>
                      <a href="{% url 'detail' board.id %}"  class="card-link">...more</a>
                    </div>
                </div>
                <br>
                {% endfor %}
            </div>
        </div>
        
        {% endblock %}
        
    </body>
</html>