<!DOCTYPE html>
<html>
    <head>
        <style>
            @font-face { font-family: 'Binggrae-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }
            .container { 
                font-family:Binggrae-Bold;
                border: 20px solid #424242;
                padding: 5px 20px;
                position: absolute;
                top:28%;
                left:32%;
                }
        </style>
    </head>
    <body>
        {% extends 'base.html' %}
        {% block content %}

                <div class="container" style="text-align:center; width:600px; height:400px; ">
            {% if error %} <!--예외상황까지 고려-->
            {{ error }}
            <br>
            {% endif %}
            <br>
            <p style="font-size:40px; text-align:center;">로그인</p><br>
            <form method="POST" action="{% url 'login' %}"> <!--form태그 안에 아무것도 적지 않으면 기본적으로 GET방식으로 주고 받는다. -->
               {% csrf_token %} <!--보안을 위해 써주는 난수 발생기 csrf 공격을 방어-->
                Username: <!--csrf: Cross Site Request -->
                <input name="username" type="text" value="">
                <br><br><br>
                Password:
                <input name="password" type="password" value="">
                <br><br>
                <input class="btn btn-dark" type="submit" style="float:right" value="Login">

            </form>
            
            
        </div>
        {% endblock %}
    </body>
</html>